/**
 * @require ../../widget/reset/reset.css
 */

body {
  background: #999;
  div {
    color: #f99;
  }
  .icon {
    width: 100px;
    height: 100px;
    background: #333333 url('./img/btn_add.png') no-repeat;
  }
  .icon2 {
    width: 100px;
    height: 100px;
    background: #333333 url('./img/btn_clo.png') no-repeat;
  }
}