extends ../common/layout.jade

block content
  div
    a.go(href="./about.html") 跳转到about.html
  p this is index
  img(src=require("./img/a.jpg"))
  img(src=require("./img/icon.png"))
  .img1-con
  .img2-con
  .icon